zpower_flow.json
[{"id":"76914d71.7fba34","type":"tab","label":"zpower server","disabled":false,"info":""},{"id":"6eacff1f.6c4d","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"3e3cfeb6.949e42","type":"mqtt-broker","z":"","name":"zpower-maqiatto","broker":"maqiatto.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a27aece3.09a28","type":"influxdb","z":"","hostname":"35.198.201.127","port":"8086","protocol":"http","database":"test","name":"","usetls":false,"tls":""},{"id":"58cd0f4a.ba3f1","type":"onesignal-config","z":"","name":"zpower","appId":"6b558f29-3dc9-4093-886f-da6b4a759838","restApiKey":"MzUzNzU3NjQtYzA4Zi00ZWMwLWI4YjYtNmI2ODQ2OGFhNWRi"},{"id":"65aec6e7.4ee2a8","type":"firebase admin","z":"","name":""},{"id":"a6261c80.e8c68","type":"mqtt-json","z":"76914d71.7fba34","name":"","topic":"clonez9494@gmail.com/realtime","property":"","qos":"2","broker":"3e3cfeb6.949e42","x":150,"y":60,"wires":[["d1265ebf.81282"]]},{"id":"1300516e.01221f","type":"onesignal","z":"76914d71.7fba34","name":"kirim pesan","config":"58cd0f4a.ba3f1","title":"","message":"","web":false,"android":true,"ios":false,"targetType":"segment","segments":["Active Users"],"player":[""],"x":830,"y":340,"wires":[]},{"id":"97cd18c4.9bec28","type":"inject","z":"6eacff1f.6c4d","name":"","topic":"/inject","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["f9a00a01.898288","75909a38.85ef54"]]},{"id":"f9a00a01.898288","type":"mqtt out","z":"6eacff1f.6c4d","name":"","topic":"clonez9494@gmail.com/realtime","qos":"2","retain":"","broker":"3e3cfeb6.949e42","x":490,"y":80,"wires":[]},{"id":"75909a38.85ef54","type":"onesignal","z":"6eacff1f.6c4d","name":"onesignal notif","config":"58cd0f4a.ba3f1","title":"dawdfefef","message":"dawdwa","web":false,"android":true,"ios":false,"targetType":"segment","segments":["Active Users"],"player":[""],"x":440,"y":140,"wires":[]},{"id":"e7951d69.e0a7a","type":"batch","z":"76914d71.7fba34","name":"nunggu nyumpul","mode":"interval","count":10,"overlap":0,"interval":"10","allowEmptySequence":false,"topics":[],"x":690,"y":120,"wires":[["d88acf22.e991"]]},{"id":"66ef850.88d267c","type":"function","z":"76914d71.7fba34","name":"Cek Kondisi","func":"//* Data Sensor\n//perangkat 1\nvar daya_device1 = msg.power1;\nvar arus_device1 = msg.current1;\n//perangkat 2\nvar daya_device2 = msg.power2;\nvar arus_device2 = msg.current2;\n//lainnya\nvar tegangan = msg.volt;\nvar signal_wifi = msg.signal;\n//* -----\n\n//* Variable Pesan Onesignal\nvar judul = msg.payload.title;\nvar pesan = msg.payload.content;\n//* ----\n\n// buat kondisi kirim pesan\nif( daya_device1 > 9 ){\n    judul = \"Arus Device1 Terlalu Tinggi !!\";\n    pesan = \"Arusnya Segini\";\n}\n\n//kirim ke onesignal\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":340,"wires":[[]]},{"id":"d1265ebf.81282","type":"function","z":"76914d71.7fba34","name":"monitor data sensor","func":"return msg;","outputs":2,"noerr":0,"x":440,"y":200,"wires":[["e7951d69.e0a7a"],["66ef850.88d267c"]]},{"id":"d88acf22.e991","type":"debug","z":"76914d71.7fba34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":120,"wires":[]}]